<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <!-- Use the same Socket.IO version and CSS -->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js" integrity="sha384-KA7m0DwgQGmeRC6Xre3hJO+ZxpanOauVh4Czdqbg8lDKJ3bZZYVYmP+y4F31x40L" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="game-header">
    <h1 class="game-title">KeepKi Board</h1>
</header>

<main class="game-container">
    <img width="100" height="100" id="qrCode"></img>
</main>

<footer class="game-footer">
    <p>© 2084 CyberCorp. All rights reserved.</p>
</footer>

<script src="static/app.js"></script>
</body>