<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="game-header">
    <h1 class="game-title">Don't Kill the Message</h1>
</header>

<main class="game-container">
    <div id="joinGame">
        <div id="scanResult"></div>
        <video id="qrCodeScanner" style="max-height: 100%"></video>
    </div>
    <div id="joinSession">
        Name eingeben (für Board): <input id="spielername" /><br />
        Spielsitzung: <span id="sessionId"></span><br />
        <button id="joinGameBtn">Spiel starten</button>
    </div>
</main>

<footer class="game-footer">
    <p>© 2084 CyberCorp. All rights reserved.</p>
</footer>

<script src="static/app.js"></script>
</body>